* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.button-wrap {
   display: flex;
   justify-content: center;
} 

.show {
   padding: 0.5%;
   margin: 2% 1% 1% 2%;
   font-size: 16px;
}

.mix {
   display: none;
   padding: 0.5%;
   margin: 2% 2% 1% 0;
   font-size: 16px;
}

.container {
   display: none;
}

img {
   width: 32.3%;
   margin: 0.5%;
   border-radius: 1%;
}

.container-show {
   display: flex;
   flex-wrap: wrap;
   padding: 1%;
}

.mix-show {
   display: inline-block;
}